body{
    margin-top:0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
    cursor: pointer;

}
/*----------------------
 header part started. 
------------------------ */
nav{
    width:100%;
    height: 104px;
    background-color: #562eff;
    margin-top: 21px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-title .title-details img{
    width: 50px;
    height: 50px;
}
.text-part{
        width: 50px;
        height: 50px;
        color: #fff;
        font-size: 30px;
        margin-left: 10px;
    }

    .title-details{
        display: flex;
        align-items: center;
        margin-left: 300px;
    }
    .title-details-secound{
        display: flex;
        align-items: center;
        margin-right: 300px;
        margin-top: 25px;

    }
        .title-details-secound a{
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            margin-right: 50px;
            padding: 10px;
            border-radius: 10px;
        }
        .title-details-secound a:hover{
            background-color: grey;
        }
/*----------------------
 header part ended. 
------------------------ */
main{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;

}
.container{
    background-color: #fff;
    width:870px;
    padding-left:30px;
    margin-bottom: 21px;
    border-radius: 10px; 
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 27px;
}
/*-------------------------------
 top players style part started
 --------------------------------  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.players:hover .player{
    transform: scale(1.0) rotate(-360deg);
    transition: transform 7s ease-in-out;
    transition-delay: 0.5s;
}
.players .player .player-name:hover{
    background-color:#d1d1d1;
} 
.player img{
    width: 50px;

}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

/*------------------------
 top players style part end
 --------------------------  */

/*----------------------------------
Top blog style patr started
----------------------------------   */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display:flex;
}
.blogs:hover .blog{
    transform: scale(1.0) rotate(360deg);
    transition: transform 7s ease-in-out;
    transition-delay: 0.5s;
}
.blog .thumbnaill img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blogs .blog-info:hover{
    background-color:#d1d1d1;

}
.blog-title{
    font-size: 20px;
}
.blog .author{
    color: gray;
}
.blog .author a{
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
    
}

/*-------------------------
Top blog style patr end
------------------------   */

/*--------------------------------
 Latest Courser Part started
------------------------------.....  */
.courses{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 24px;

}

.course{
    padding: 16px;
    background-color:#fff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    
}
.courses .course-detail:hover{
    background-color:#d1d1d1 ;
}
.courses:hover .course{
    transform: scale(1.0) rotate(-360deg);
    transition: transform 10s ease-in-out;
    transition-delay: 0.5s;

}
.course .course-banner img{
    width: 230px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size:12px;

}
.fas.fa-star.filled{
    color:#ffc014;
}
.fas.fa-star.empty{
    color: #858072;

}
.course-duraction{
    background-color:gray;
    border-radius: 5px;
}
/* -------------------------------
Latest Courser Part end
------------------------------.....  */

/* --------------------------
Media Queries Paet Started
----------------------------- */
/* For Mobile  Devices */
 @media only screen and (max-width:688px){
     .container{
         width: 100%;
     }
     .players, .blogs, .courses{
         grid-template-columns: repeat(1, 1fr);
        /* background-color: greenyellow; */
     }
     .player, .blog, .courses{
         flex-direction: column;
         align-items: center;
     }
 }
 /* Tablats Devices */

 @media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
       /* background-color: greenyellow; */
    }
    .player, .blog, .course{
        flex-direction: column;
        align-items: center;
    }
 }
/* --------------------------
Media Queries Paet ended
----------------------------- */